.content{
    background-color:#DFE3EE;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.quiz-mask{
    display: flex;
}
.card{
    background-image: url(Quizapp/brainbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    height: 600px !important;
    border-radius: 0 !important;
}
.list-group-item{
    background-color: #27355C !important;
    color: white !important;
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    border-left: 5px solid white !important;
}
.list-group{
    border-top: none !important;
}
.card-body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
.headline{
    font-size: 32px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}
.question{
    font-size: 26px;
    margin-bottom: 50px;
}
.answers-option{
    display: flex;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}
.answers-option:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.option-letter{
    width: 47px;
    margin-left: 10px;
    height: 107%;
    border: 1px solid transparent;
    background-color: #D6D6D6 ;
    text-align: center;
    font-weight: 700;
}
.option-answer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}
.bg-success, .bg-danger{
    color: white;
}
.complete-design{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.complete-design img{
    height: 130px;
}
@media (max-width: 770px){
    .question {
        font-size: 22px !important;
        margin-bottom: 20px !important;
    }
    .answers-option{
        font-size: 18px;
    }
}
@media (max-width: 560px) {
    .quiz-mask {
        display: block;
    }
    .content{
        padding: 10px !important;
    }
.card{
    width: auto !important;
    height: auto !important;
}

ul{
    display: flex !important;
    flex-direction: row !important;
}
li{
    border: none !important;
}
.list-group-item{
    font-size: 16px;
    margin-top: 20px;
}
.card-img, .card-img-bottom, .card-img-top {
 width: auto !important;
}
.rounded-start, .rounded-end{
    border-radius: 5px !important;
}

}
@media (max-width:435px) {
    .list-group-item{
        padding: 10px !important;
        font-size: 14px !important;
    }
    .question{
        font-size: 18px !important;
    }
    .answers-option{
        font-size: 17px !important;
    }
    
}