.content{
    background-color:white;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-mask{
    display: flex;
}
.card{
    background-image: url(Quizapp/brainbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    height: 600px !important;
    border-radius: 0 !important;
}
.list-group-item{
    background-color: #27355C !important;
    cursor: pointer;
    color: gray !important;
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}
.list-group-item:hover{
    color: white !important;
    border-left: 5px solid white !important;
}
.list-group{
    border-top: none !important;
}
.card-body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
}